[mysqld]


pid-file = /var/lib/mysql/data//mysql.pid
socket = /var/lib/mysql/mysql.sock


secure-file-priv = NULL
default-authentication-plugin = mysql_native_password

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

!includedir /etc/my.cnf.d
